*{     
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color: #eaebec;
}

::-webkit-scrollbar-thumb{
    background-color: #BCC0C4;
    border-radius: 10px;
}
