.rightbar_container {
  padding-top: 1rem;
  margin-top: 61px;
  height: calc(100vh - 65px);
  width: 20%;
  position: fixed;
  right: 10px;
}

@media screen and (max-width: 1200px) {
  .rightbar_container{
      width: 30%;
  }
}

.rightbar_container > .rightbar_heading {
    font-size: 1.1rem;
    font-weight: 500;
    color: #74767B;
    margin-bottom: 1rem;
}

.rightbar_container > .create_new_group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.5rem;
  width: 90%;
  border-radius: 5px;
}

.rightbar_container > .create_new_group:hover{
    background-color: #eaebec;
}

.rightbar_container > .create_new_group > .add_icon{
    background-color: #E5E7EB;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding: 5px;
}

.rightbar_container > .create_new_group > .add_icon > .add_icon_class{
    font-size: 1.1rem;
}

